.button{
  border: none;
  inline-size: 32px;
  block-size: 32px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button:active{
  transform: scale(.9);
}
#play{
  background-image: url('../images/play.svg');
}
#pause{

  background-image: url('../images/pause.svg');
}
#bwd{

  background-image: url('../images/-10.svg');
}
#fwd{

  background-image: url('../images/+10.svg');
}