@import './buttons.css';

body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    max-inline-size: 900px;
    margin: auto;
}
.player{
  margin-block-start: 100px;
  position: relative;
  /* border: 10px solid red; */
}

.player > video {
  inline-size: 100%;
  aspect-ratio: 16/9;
  vertical-align: middle;
  object-fit: cover;
}

.player-title{
  color: white;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 20px;
}
.player-actions{
  position: absolute;
  /* 
  inset-block-start: 0; eje vertical
  inset-block-end: 0; eje vertical
  inset-inline-start: 0; eje horizontal
  inset-inline-end: 0; eje horizontal
  */
    inset: 0;
    /* border: 10px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
     /* z-index: 2; */

}
.player-progress{
  /* background: yellow; */
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  display: flex;
  padding: 10px;
}
.player-progress input{
  flex: 1;
}

.player-overlay{
  position: absolute; 
  inset: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.player:hover .player-overlay{
  opacity: 1;
}